@model DoAn_QuanLyDiemSinhVien.Models.SinhVien

@{
    ViewBag.Title = "Chi tiết sinh viên";
    Layout = "~/Views/Shared/_LayoutQuanLyDiem.cshtml";
}

<h2>Chi tiết sinh viên</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Họ và tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            Ngày sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
           Lớp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lop)
        </dd>

        <dt>
            Hình
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa sinh viên", "Edit", new { id = Model.MaSV }) |
    @Html.ActionLink("Trở về trang trước", "Index")
</p>
