@model IEnumerable<DoAn_QuanLyDiemSinhVien.Models.SinhVien>

@{
    ViewBag.Title = "Danh sách sinh viên";
    Layout = "~/Views/Shared/_LayoutQuanLyDiem.cshtml";
}

<h2>Danh sách sinh viên</h2>

<p>
    @Html.ActionLink("Thêm mới sinh viên", "Create")
</p>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="background-color:whitesmoke">
    <tr>
        <th>
            Họ và tên
        </th>
        <th>
            Ngày sinh
        </th>
        <th>
            Email
        </th>
        <th>
            Lớp
        </th>
        <th>
            Hình
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.DiemTB)
        </th>*@
        <th>
            
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hinh)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.DiemTB)
        </td>*@
        <td>
            @Html.ActionLink("Chỉnh sửa sinh viên", "Edit", new { id=item.MaSV }) |
            @Html.ActionLink("Chi tiết sinh viên", "Details", new { id=item.MaSV }) |
            @Html.ActionLink("Xóa sinh viên", "Delete", new { id=item.MaSV })
        </td>
    </tr>
}

</table>
