@model DoAn_QuanLyDiemSinhVien.Models.Account

@{
    ViewBag.Title = "Chi tiết nhân sự";
    Layout = "~/Views/Shared/_LayoutQuanLyDiem.cshtml";
}

<h2>Chi tiết nhân sự</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            Họ và tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoVaTen)
        </dd>

        <dt>
            Trạng thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            Admin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa nhân sự", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Trở về trang trước", "Index")
</p>
