@model DoAn_QuanLyDiemSinhVien.Models.MonHoc

@{
    ViewBag.Title = "Chỉnh sửa môn học";
    Layout = "~/Views/Shared/_LayoutQuanLyDiem.cshtml";
}

<h2>Chỉnh sửa môn học</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaMH)

        <div class="form-group">
          Tên môn học
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenMH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenMH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Số tín chỉ
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoTC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoTC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Học kỳ
            <div class="col-md-10">
                @Html.EditorFor(model => model.HocKy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HocKy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về trang trước", "Index")
</div>
